body, html {
    margin: 0;
    padding: 0;
    font-family: cursive;
}


header {
    body{
    background-image: url('https://www.google.com/imgres?q=coffee%20shops%20image&imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F1158448833%2Fphoto%2Fthird-wave-coffee-shop-interior.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3DwZ5WKcSvBWIVI15x3FwBrZL30vUWn_pnhU2z_G2FF_A%3D&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fmodern-coffee-shop&docid=yhJiMkj_k4hyVM&tbnid=t7Z0O5ONBg1XDM&vet=12ahUKEwjQnK_9zfSFAxU2M1kFHc7nABkQ9AF6BAgYEAA..i&w=612&h=408&hcb=2&ved=2ahUKEwjQnK_9zfSFAxU2M1kFHc7nABkQ9AF6BAgYEAA');
    }
    background: #dbbb98;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

section h3 {
    margin-top: 0;
}

#hero {
    background: #dbbb98;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #d9ead3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d9ead3;
}

#connectWalletBtn {
    padding: 8px 16px;
    background-color: #d9ead3;
    color: white;
    border: none;
    cursor: pointer;
}

#connectWalletBtn:hover {
    background-color: #d9ead3;
}

#walletConnected img {
    height: 20px;
    width: 20px;
}