body, html {
    margin: 0;
    padding: 0;
    font-family: cursive;
}


header {
    background-color: #e7cdb1;
    padding: 30px 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

section h3 {
    margin-top: 0;
}

#hero {
    background-image: url('coffeebackground.jpeg');
    padding: 80px 20px;
    text-align: center;
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

button {
    padding: 10px 20px;
    background-color: #e7cdb1;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e7cdb1;
}

#connectWalletBtn {
    padding: 10px 20px;
    background-color: #e7cdb1;
    color: white;
    border: none;
    cursor: pointer;
}

#connectWalletBtn:hover {
    background-color: #e7cdb1;
}

#walletConnected img {
    height: 10px;
    width: 20px;
}